body {
    background-color: #0f172a;
    color: white;
    font-family: Arial;
    text-align: center;
}

.calculator {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background: #111827;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    background: #1e293b;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #2563eb;
}

.operator {
    background: #2563eb;
}

#equal {
    grid-column: span 4;
    background: green;
}

#clear {
    background: red;
}
